/* ========Base Styles */
* {
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px red solid; */
}

header {
    background: #002200;
    padding: 20px 0;
    margin-bottom: 10px;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.header-bottom {
    text-align: center;
}

.sub-headline {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
}

legend {
    font-weight: bold;
}

input[placeholder="Required"] {
    text-align: right;
}

.form-header {
    margin-bottom: 20px;
}

hr {
    margin-top: 20px;
    margin-bottom: 30px;
}

label, input {
    display: inline-block;
    margin-bottom: 10px;
}

#zip {
    max-width: 25%;
}

.zip {
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    height: 30px;
    background: lightgrey
}

input[type="email"] {
    width: 100%;
    height: 30px;
    background: lightgrey
}


input[type="tel"] {
    width: 100%;
    height: 30px;
    background: lightgrey
}

input[type="number"] {
    height: 30px; 
    background: lightgrey;
}

select[id='state'] {
    background: lightgrey;
    height: 30px;
}

.newsletter-format {
    margin-bottom: 20px;
}

textarea[name="user_other_topics"] {
    background: lightgrey;
    margin-top: 15px;
}

.signup {
    display: inline-block;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    background: rgb(48, 137, 209);
    height: 50px;
    width: 100%;
}

footer {
    text-align: center;
}

input, 
label,
footer {
    font-weight: normal;
}

/* =====================================MEDIA QUERIES=========================================== */

@media(min-width: 768px) {

    .user {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .user input,
    .user select {
        flex-basis: 70%;
        flex-grow: 1;
        margin-bottom: 0;
    }

    .user label {
        flex-basis: 25%;
    }

    .info br {
        display: none;
    }

    textarea {
        width: 100%;
    }

    /* body:not([.top-header]) {
        width: 80%;
    } */



}




