/* ========Base Styles */
* {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px red solid;
}

header {
    background: black;
    padding: 20px 0;
    margin-bottom: 10px;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.header-bottom {
    text-align: center;
}

.sub-headline {
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-header {
    margin-bottom: 20px;
}

label, input {
    display: inline-block;
    margin-bottom: 10px;
}

#zip {
    max-width: 25%;
}

.newsletter_format {
    margin-top: 20px;
    margin-bottom: 15px;
}

.signup {
    display: inline-block;
    margin-top: 30px;
    color: white;
    font-weight: bold;
    background: rgb(48, 137, 209);
    height: 50px;
    width: 100%;
}

footer {
    text-align: center;
}





